* {
    box-sizing: border-box;
    font-size: 110%;
    background-color: black;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    outline: 3px solid greenyellow !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    padding: 20px;
    font-size: 200%;
}

#resume-pic {
    height: 200px;
    border-radius: 50%;
}

nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(60, 59, 59)
}

nav a {
    width: 200px;
    text-align: center;
    position: relative;
    color: white;
    padding: 14px 20px;
    border: 2px dotted white;
    background-color: rgb(60, 59, 59);
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.about-me { 
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    
}


.left-titles {
    flex: 1;
    text-align: center;
    margin: 10px;
    border-right: 5px solid white;
    width: 20%;
}

.main-text {
    margin-top: 15px;
    flex: 4; 
    display: flex;
}


.work {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 70%;
}

/*Photo Container */
.work-photo-holder{
    margin-top: 15px;
    flex: 4; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.photo-stackeruno {
    text-align: center;

}

#iphone {
    transform: scale(1.5) translate(8%, 2%);
    display: inline-block;
}

.photo-stacker {
   
}

img {
    border-radius: 12px;
    border: 3px solid white;
    text-align: center;   
}


.contactInfo {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.contactLinks {
    margin-top: 15px;
    flex: 4; 
    display: flex;
    margin-right: 10px;
    justify-content: space-around;
}

.contactLinks a {
    color: white;
}

footer {
    display: flex;
    background-color: rgb(60,59,59);
    height: 150px;
    font-style: italic;
    justify-content: space-around;
    align-items: center;
}

footer p {
    background-color: rgb(60, 59, 59);
}

@media screen and (max-width:568px) {

}