* {
    box-sizing: border-box;
}

body {
    background: rgb(9, 9, 63);
    color: azure;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 200%;
}

nav {
    height: 50px;
    width: 100%;
    background-color: rgb(60, 59, 59);
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    padding: 14px 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.about-me { 
    display: flex;
}

.left-titles {
    flex: 1;
    text-align: center;
    margin: 10px;
    background-color: rgb(60, 59, 59);
}

.main-text {
    flex: 4; 
    display: flex;
    margin: 10px;
}

.resume-pic {
    position: relative;
    margin-right: 20px;
}





